* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #626262;
}

body {
  background: #000000;
  background: -webkit-linear-gradient(to top, #434343, #000000);
  background: linear-gradient(to top, #434343, #000000);
  position: relative;
}

header {
  display: flex;
  height: 40vh;
  margin: 2vh 20vw 0 20vw;
  background-image: url("../img/design2_image1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: bisque;
  font-size: 1.5rem;
  font-style: italic;
}

h1 {
  text-shadow: 3px 3px 3px black;
  text-decoration: solid;
  font-size: 2em;
  color: bisque;
}

nav {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-evenly;
  margin: 0.01vh 20vw;
  background-color: white;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  color: #444444;
  font-size: 16px;
  padding: 0.5rem;
}

nav:active {
  transition-duration: 2s;
}

nav a:hover {
  color: #3fb7fd;
  transition: color 0.5s ease;
}

.page-active {
  border-bottom: 3px solid #3fb7fd;
}

main {
  display: flex;
  margin: 0vh 20vw 0 20vw;
  background-color: #dee0e1;
  min-height: 60vh;
  padding: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.main-game {
  padding: 2rem;
}

.main-about {
  display: flex;
  flex-wrap: wrap;
  min-height: 60vh;
  padding: 2rem;
  justify-content: center;
  margin: 0vh 20vw 0 20vw;
}

.main-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  align-self: flex-start;
  border-radius: 1rem;
  box-shadow: 3px 3px 20px #626262;
  min-height: 30vh;
}

section h2 {
  font-size: 2rem;
  text-align: center;
  text-shadow: 4px 4px 5px #444444;
  padding: 1rem;
}

section article {
  padding: 2vh;
  margin-left: 2vw;
}

.section-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50vw;
}

.section-rules {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-about {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  min-height: 30vh;
  width: 30vw;
  align-items: center;
  border-radius: 0 1rem 1rem 0;
  box-shadow: 3px 3px 20px #626262;
}

.section-contact {
  display: flex;
  flex-direction: column;
  width: 50vw;
  align-self: center;
  align-items: center;
}

#section-form {
  display: flex;
  flex-direction: column;
  width: 40vw;
  background-color: cornsilk;
  color: azure;
  border-radius: 1rem;
}

article {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

article p {
  color: #626262;
  font-size: 1rem;
}

.article-rules,
.article-about {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1.5rem;
}

table {
  box-shadow: 3px 3px 20px #626262;
  background-color: #3fb7fd;
  height: 50vh;
  width: 50rem;
  border-collapse: collapse;
  padding: 2rem;
  margin-bottom: 1rem;
}

table,
th,
td {
  border: 1.5px solid;
  border-color: #cccccc;
  text-align: center;
  color: #fff;
}

th {
  color: #434343;
}

th,
td {
  text-align: center;
  padding: 0.5rem;
}

caption {
  color: #444444;
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 4px 5px 5px #444444;
  margin-bottom: 1rem;
}

dt {
  color: #444444;
  font-weight: bold;
  margin-bottom: 0.7rem;
  font-size: 16px;
}

dd {
  font-size: 16px;
  color: #626262;
  margin-bottom: 0.8rem;
}

div dt {
  width: 15vw;
}

div dd {
  margin-left: 0.5rem;
  width: 35vw;
}

.dl-game {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 45vw;
  align-items: start;
}

.dt-game {
  display: flex;
  /* flex-direction: row; */
  padding: 0.2rem 2rem;
  justify-content: start;
  width: 45vw;
}

.all-play {
  margin-left: 2rem;
  color: #626262;
}

.p-rules {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.p-contact {
  color: #444444;
  font-size: 2rem;
  padding: 1rem;
}

.p-game {
  align-self: flex-start;
  padding-left: 5rem;
  font-size: 14px;
}

#maps {
  padding: 1rem;
  justify-content: center;
  width: 45vw;
  margin-left: 3rem;
}

#maps div {
  width: 45vw;
  flex-wrap: wrap;
  justify-content: center;
}

.subtittle-rules {
  margin-bottom: 0.7rem;
  padding: 0.5rem;
}

.h3-upcoming {
  padding-left: 1rem;
  font-size: 1.2rem;
}

h2 {
  margin-bottom: 1rem;
}

h3 {
  font-size: 1em;
}

h2,
h3 {
  color: #444444;
  /* padding: 1rem; */
}

li {
  margin-left: 1rem;
}

main img {
  width: 30%;
  object-fit: cover;
  border-radius: 1rem 0 0 1rem;
}

.image-about {
  width: 30%;
  object-fit: cover;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 3px 3px 20px #626262;
}

.image-contact {
  width: 500px;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 3px 3px 20px #626262;
  margin-top: 1rem;
}

.mail-contact {
  color: #3fb7fd;
  font-size: 32px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem 2rem 2rem 2rem;
  background-color: cornsilk;
  border-radius: 1rem;
  border-color: #62626257;
}

.text-data-personal {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: cornsilk;
  border-radius: 1rem;
  border-color: #3fb7fd63;
  margin-bottom: 1rem;
}

.text-data-personal input {
  width: 25vw;
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  border-color: #62626228;
  border-style: solid;
  border-radius: 0.2rem;
}

.text-data-personal input:active {
  border-color: #3fb7fd;
}

.text-data-personal i {
  align-self: flex-end;
  margin-right: 5.5rem;
  translate: 0 1.5rem;
}

.other-data-personal {
  display: flex;
  padding: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  background-color: cornsilk;
  border-radius: 1rem;
  border-color: #3fb7fd63;
  margin-bottom: 1rem;
}

.other-data-personal input {
  margin-bottom: 1rem;
  margin-left: 0.2rem;
}

.other-data-personal p {
  margin-bottom: 0.2rem;
  font-weight: bolder;
  color: #626262;
}

.flex-row {
  display: flex;
  justify-content: start;
}

.flex-colum {
  display: flex;
  flex-direction: column;
}

.check-section-form {
  padding: 2rem;
  border-radius: 1rem;
  border-color: #3fb7fd63;
  margin-bottom: 1rem;
}

.check-section-form * {
  margin-bottom: 0.5rem;
}

.check-section-form p {
  font-weight: bolder;
  color: #444444;
}

.birth-gender {
  width: 32vw;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1rem;
  border-color: #3fb7fd63;
  margin-bottom: 1rem;
}

.school {
  width: 32vw;
  justify-content: start;
  padding: 1rem 0 1rem 0;
}

.grade-school {
  margin-left: 0.2rem;
}

.gender {
  height: 10vh;
  width: 10vw;
}

.gender * {
  padding: 0.2rem;
}

.check-school {
  width: 15vw;
  /* padding: 1rem; */
  margin: 1rem 0 0 0.1rem;
  border: none;
}

.check-school label {
  margin-bottom: 1rem;
}

.check-pos {
  margin: 1rem 0 0 0.1rem;
  width: 7vw;
}

.check-uniform {
  margin: 1rem 0 0 0.1rem;
  width: 10vw;
}

.section-signature {
  padding: 2rem;
  border-radius: 1rem;
  border-color: #3fb7fd63;
  margin-bottom: 1rem;
}

.section-signature * {
  margin-bottom: 1rem;
}

#signature {
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
}

#signature * {
  padding: 0.2rem;
}

#signature input {
  width: 12vw;
  /* margin-left: 10rem; */
}

.label-signature {
  margin-left: 1rem;
}

.date-signature {
  margin-left: 9.6rem;
}

.no-border {
  border: none;
}

button {
  padding: 1rem;
  background-color: #006bc8;
  color: #fff;
  border-radius: 0.5rem;
}

section iframe {
  padding: 2rem;
}

footer {
  display: flex;
  margin: 0vh 20vw 2vh 20vw;
  background-color: #545454;
  min-height: 10vh;
  align-items: center;
  padding: 1rem;
  font-size: 14px;
}

footer p {
  color: #cccccc;
}

footer a {
  color: #3fb7fd;
  padding-left: 0.5rem;
}
