* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background: #000000;
  background: -webkit-linear-gradient(
    to top,
    #434343,
    #000000
  );
  background: linear-gradient(
    to top,
    #434343,
    #000000
  ); 
}

header {
  display: flex;
  height: 40vh;
  margin: 2vh 20vw 0 20vw;
  background-image: url("../img/design2_image1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: bisque;
  font-size: 1.5rem;
  font-style: italic;
}

h1 {
  text-shadow: 3px 3px 3px black;
  text-decoration: solid;
}

nav {
  display: flex;
  justify-content: space-evenly;
  margin: 0.01vh 20vw;
  background-color: white;
  padding: 0.5rem;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  color: #444444;
  font-size: 16px;
}

nav a:hover {
  color: #3fb7fd;
  text-decoration: underline;
  border-bottom: 3px solid #3fb7fd;
}

main {
  display: flex;
  margin: 0vh 20vw 0 20vw;
  background-color: #dee0e1;
  min-height: 60vh;
  padding: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.main-game {
  padding: 1rem;
}

section {
  display: flex;
  /* border: 2px solid; */
  flex-grow: 1;
  align-self: flex-start;
  margin: 1vh 0 0 0;
  border-radius: 1rem;
  box-shadow: 3px 3px 20px #626262;
  min-height: 30vh;
}

section h2 {
  font-size: 2rem;
  text-align: center;
  text-shadow: 4px 4px 5px #444444;
  padding: 1rem;
  /* margin-bottom: 1vh; */
}

table {
  border-radius: 1rem;
  box-shadow: 3px 3px 20px #626262;
  background-color:#626262;
  height: 50vh;
  width: 50rem;
  border-collapse: collapse;
  padding: 1rem;
  /* padding: 5rem 8rem 5rem 8rem; */
}

table, th, td {
  border: 1.5px solid;
  border-color: #cccccc;
  text-align: center;
  color: #cccccc;
  
}

th,
td {
  text-align: start;
  padding: 0.5rem;
}

caption {
  color: #444444;
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 4px 5px 5px #444444;
  margin-bottom: 1rem;
}

section article {
  padding: 2vh;
  margin-left: 2vw;
}

/* .main-rules {
  padding: 5rem;
} */

/* .section-game {
  display: flex;
  flex-direction: column;
} */

/* table {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
} */





.section-rules {
  display: flex;
  flex-direction: column;
  align-items: center;
}

dt {
  color: #444444;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

dd {
  color: #626262;
  margin-bottom: 0.5rem;
}

.all-play {
  margin-left: 2rem;
  color: #626262;
}

.p-rules {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.article-rules {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1.5rem;
}

.subtittle-rules {
  padding: 0.5rem;
}

article {
  display: flex;
  align-items: center;
}
article * {
  padding: 0 0 0 1rem;
}

h2,
h3 {
  color: #444444;
  /* color: #00557C; */
}

article p {
  color: #626262;
}

/* li {
  margin-left: 1rem;
} */

section img {
  width: 30%;
  object-fit: cover;
  border-radius: 1rem 0 0 1rem;
}

footer {
  display: flex;
  margin: 0vh 20vw 2vh 20vw;
  background-color: #545454;
  min-height: 10vh;
  color: #cccccc;
  align-items: center;
  padding: 1rem;
  font-size: 14px;
}

/* h1 {
  font-style: italic;
  font-size: 2.5rem;
  font-weight: lighter;
  background: #F00000;
  background: -webkit-linear-gradient(to right, #DC281E, #F00000);
  background: linear-gradient(to right, #DC281E, #F00000);

  
}

header h2 {
  background-image: url(../img/design2_image1.jpg);
  min-height:70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: top;
  color: transparent;
}

nav {
  position: absolute;
  right: 5vh;
  top: 3%;
  min-height: 5vh;
}

nav a {
  font-size: 1.2rem;
  text-align: center;
  padding: 0.3em;
  display: inline-block;
  color: white;
  height: 2.9rem;
  width: 9rem;
  text-decoration: none;
  border-color: black;
  border-style: solid;
  background-color: rgb(96, 96, 235);
  border-width: thin;
  box-shadow: 3px 5px 5px black;
}
nav a:hover {
  background-color:firebrick;
  color: black;
  cursor: pointer;
}

nav a:active {
  background-color: crimson;
}

.a-active {
  background-color: chartreuse;
}

main {
  display: inline-block;
  background: #0B486B;
  background: -webkit-linear-gradient(to right, #F56217, #0B486B);
  background: linear-gradient(to right, #F56217, #0B486B);
  min-height: 60vh;
  min-width: 100%;
  position: relative;
}

section h2 {
  background-color: rgba(8, 7, 8, 0.466);
  height: 7vh;
  padding: 1vh;
  color:rgba(0, 0, 0, 0.877);
  position: relative;
  top: -8vh;
}

h2 {
  text-align: center;
  font-size: 30px;
}

figure {
  position: absolute;
  top: 60px;
}

.logo {
  position: relative;
  left: 10vh;
}

.efecto-3d {
  animation: efecto-3d 8s;
  animation-iteration-count: infinite;
}

article {
  position: relative;
  height: 14vh;
  left: 50vh;
}

.event {
  height: 10vh;
  width: 60vh;
}

.article-about {
  width: 70vh;
}

article p {
  margin-left: 2em;
}

.section-figure {
  margin-left: 6vh;
  right: 15vh;
}

.section-imagen {
  border-radius: 1rem;
  box-shadow: 3px 5px 5px black;
}

.p-contact {
  margin-top: 5vh;
  position: relative;
  font-size: 1.5rem;
  width: 70vh;
  height: 5vh;
  left: 50vh;
}


@keyframes efecto-3d {
  from {
      transform: rotateY(0deg);
  }
  to {
      transform: rotateY(360deg);
  }
} */
